ansible-core
proxmoxer
requests
docker
netmiko
napalm
pyez
numpy
pandas
pyserial
pyOpenSSL
junos-eznc
jsnapy
jxmlease
pywinrm
azure-common
azure-mgmt-keyvault
azure-mgmt-compute
azure-mgmt-storage
azure-mgmt-resource
azure-keyvault-secrets
azure-storage-blob
ansible[azure]
pyTenable
axonius-api-client
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
